.main-header{
    background: var(--black);
    color: #fff;
}

.header-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}

.menu{
    gap: 1.5rem;
}



menu>*:hover{
    cursor: pointer;
}

a{
    font-size: 15px;
}

button:hover{
    transform: scale(1.1);
}