.App{
    position: relative;
    overflow-x: hidden;
}


.white-gradient{
    position: absolute;
    width: 20rem;
    height: 20rem;
    top: 0;
    left: 0;
    background: #e4e4e48b;
    filter: blur(100px);
    border-radius: 50%;
}